body {
    background-color: #000;
    color: #0F0;
    font-family: monospace;
    text-align: center;
}
h1 {
    font-size: 5em;
    margin-top: 100px;
}
p {
    font-size: 2em;
    margin-top: 50px;
}